

body {
    margin: 0;
    padding: 0;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #252526;
}

div {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.screen-full-height {
    height: 100vh;
}

.between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* -----------------------------IMAGE CONTAINERS ---------------------------*/
.image-container {
    z-index: 8;
    position: relative;
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*--------------------------IMAGE OVERLAYS------------------------------------*/
.overlay {
    /* div on top of the image */
    position: absolute;
    top: 70vh;
    left: 10%;
    height: auto;
    width: 500px;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    text-align: center;

    outline: none;
    box-shadow: none;
    padding: 10px 25px;
    border: 3px solid white;
    z-index: 9;
}

.overlay p {
    padding: 10px;
    margin: 0;
}

.responsive h1 {
    font-size: 45px;
}

.subcaption {
    font-size: 18px;
    font-weight: normal;
}

/*------------------------------- NAV BAR ------------------------------------*/

.navbar {
    display: flex;
    background-color: #000;
    position: relative;
    z-index: 1;
}

.nav-button {
    flex: 1; /* Make the buttons take up equal width */
    text-align: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    z-index: inherit;
}

.nav-button:hover {
    background-color: #222;
}

.navbar a {
    font-weight: bold;
    font-size: 20px;
}


/*--------------------------------------SECTIONS ----------------------------*/
.section {
    background-color: #252526;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.featured {
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about {
    z-index: -3;
}
#resume {
    z-index: -2;
}

#projects {
    z-index: -1;
}

/* #final-section {
    height: 70vh;
} */

/*-------------------------------- ABOUT ME ----------------------------------*/
#about img {
    width: 40%;
    height: 40vh;
    object-fit: cover;
}

#about .text-box {
    width: 800px;
}

#about .summary {
    text-align: left;
    padding: 0 15px 10px 15px;
}

/*----------------------------- Resume ---------------------------------------*/
#resume {
    display: block;
}

#resume-download {
    background-color: #252526;
    width: 100%;
    padding: 20px;
}

#resume-download .button {
    width: auto;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.section-break {
    padding-bottom: 10px;
    padding-top: 20px;
}

.section-break h2 {
    background-color: #36546e;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    display: inline;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

#skills-grid {
    padding-top: 0;
}


#skills-grid .between {
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.star-holder img {
    width: 15px;
    margin-right: 2px;
    margin-left: 2px;
    align-items: right;
    float: right;
}

.certification p {
    margin: 0;
    padding: 0;
}
.certification:hover {
    font-weight: bold;
}


/*----------------------------- CAREERS --------------------------------------*/
.timeline {
    position: relative;
    margin-bottom: 2vh;
}

.timeline-info .between {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.timeline-event-title {
    margin: 5px 0 5px 0;
}

.time {
    text-align: right;
    padding: 0;
    margin: 0;
    padding-right: 20px;
    margin-top: 5px;
    font-size: 15px;
    
}

.career-info ul {
    margin-top: 5px;
}

.subtitle {
    margin: 0;
    font-size: 15px;
}

/* line beside the timeline */
.timeline::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 2rem;
    width: 3px;
    height: 100%;
    background-color: white;
}

/* The circle beside the timeline */
.timeline-event-title::before {
    content: "";
    position: absolute;
    width:  15px;
    height: 15px;
    border-radius: 50%;
    background-color: #252526;
    border: white;
    border-style: solid;
    border-width: 3px;
    left: 1.5rem;
}

.timeline-info {
    width: 80%;
    margin-left: 4rem;
}

.timeline-grid {
    grid-template-columns: 30% 70%;
}

#education {
    background-color: #252526;
}

@media screen and (max-width: 825px) {
    .resume-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .time {
        text-align: left;
        margin-top: 5px;
    }
    .timeline-grid {
        gap: 0px;
    }
}

@media screen and (min-width: 825px) {
    .timeline::before {
        left: 33%;
    }
    .timeline-event-title::before {
        transform: translateX(-45%);
        left: 33%;
        /* background-color: #000; */
    }
    .section-break {
        display: flex;
        justify-content: center;
    }

    .section-break h2 {
        margin: 0;
    }

    #career::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('/assets/tiled_bg_stars.jpg');
        background-attachment: fixed;
        filter: contrast(0.70);
        z-index: -1;
    }
}

/*-------------------------------- Projects ----------------------------------*/
.carousel {
    position: relative;
    overflow: hidden;
}

#carousel-inner {
    display: flex;
    transition: tranform 0.5s ease-in-out;
    height: 500px;
    background-color: purple;
}

.carousel-item {
    flex: 0 0 100%;
}

#carousel-control-prev,
#carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#carousel-control-prev {
    left: 0;
}
#carousel-control-next {
    right: 0;
}
/*------------------------------- CONTACT SECTION ----------------------------*/
.contact-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}


.contact-form form {
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    padding: 5px;
    margin: 10px 0;
}

.input-field:not(.button) {
    width: 80%;
}

.input-field {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 15px;
    outline: none;

    /* Remove default drop shadow */
    box-shadow: none;

    /* Add any other custom styling you desire */
    background-color: white;
    color: rgb(46, 46, 46);
    border: 2px solid white;
    border-radius: 0;
}

.input-field:not(textarea) {
    height: 40px;
}

textarea {
    padding-top: 10px;
    height: 20vh;
}

/* --------------------------------- LINKS -----------------------------------*/
.links {
    width: 100%;
    padding: 10px;
    background-color: #497AA6;
}

.links * {
    /* margin: 10px; */
    padding: 5px;
    text-align: center;
}

.links p {
    font-size: larger;
}

.icon-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: help;
}

.icon-link img {
    padding: 0;
    margin: 0;
}

.links .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-------------------------- SCREEN SIZE RESPONSIVENESS ----------------------*/

@media screen and (min-width: 1000px) {
    #about {
        justify-content: space-around;
    }

    #about {
        background-image: url('/assets/background.jpg');
    }

    #about img {
        margin: 10px;
        padding: 10px;
        border-radius: 5%;
        width: 400px;
        height: auto;
        object-fit: fill;
    }
    
}

/* Media query for desktop has width below 700 */
@media screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        top: 55vh;
        left: 25%;
    } 

    .responsive {
        display: block;
    }

    .section {
        flex-direction: column;
    }

    /* #final-section {
        height: 100vh;
    } */

    .section div:not(.exclude-full-width-on-mobile) {
        width: 100%;
    }

    .contact-form {
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 65vh;
    }

    .contact-form form {
        width: 90%;
        align-items: center;
    }

    .contact-form form div {
        text-align: center;
    }

    .links {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .links h1,
    .links p {
        margin: 10px;
    }

    #about {
        flex-direction: column;
    }

    #about .text-box {
        width: auto;
        margin: 0;
        border: none;
    }

    #about img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contact-form *:not(.button) {
        width: 90%;
    }
}

/* Media query for desktop has height below 700px */
@media screen and (max-height: 700px) {
    .image-container {
        width: 100%;
        height: 700px;
    }

    .responsive {
        position: absolute;
        top: 400px;
        overflow: hidden;
    }
}

@media screen and (max-height: 500px) {
    textarea {
        height: 50px;
    }
}
/* ------------------------BUTTONS ------------------------------------*/
.button {
    /* Remove default outline */
    outline: none;

    /* Remove default drop shadow */
    box-shadow: none;

    /* Add any other custom styling you desire */
    background-color: #252526;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 0;
}

/* Optional: Add styles on button focus or hover if needed */
.button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(58, 58, 58)
}

.button:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(58, 58, 58)
}

body * {
    box-sizing: border-box;
}